* {
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
}

.background {
    background-image: url(./Images/background.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    float: right;
}


nav {
    width: 100%;
    padding: 0%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:2px solid rgba(0, 0, 0, 0.795);
    width: 10% auto;
}

li a {
    font-size: 1.5rem;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    position: relative;
    text-transform: 20px;
    top: -3px;
}

.active {
    background-color: rgb(46, 0, 73);
    position: relative;
    top: 3px
}   

p {
    color: white;
    text-align: center;
    border: 3px inset darkmagenta;
    background: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px 20px;
    border-width: 15px;
    margin: 2% 50% 0% 5%;
}

h1 {
    margin: 0.5rem;
    color: white;
    text-shadow: 2px 2px;
}

html{
    background-image: url(Images/background.jpg);
    background-size: cover;

}

#ik {
    background-repeat: no-repeat;
    background-size: 50%;
    padding: 35px 35px 3px 35px;
    background-origin: content-box;
}

table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
  }
  
  thead th {
    background: #88CCF1;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
  }
  