/* Basis opmaak van de website */
* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(./images/background-images.png);
    background-size: 100%;
    width: 100%;
}

.banner {
   width: 100%;
   margin-bottom: -4px;
}


/* Navigatie */
nav {
    width: 100%;
    padding: 0%
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(rgb(18, 96, 199), rgb(143, 74, 17));
}

nav li {
    float: left;
    border-right:2px solid rgba(0, 0, 0, 0.795);
    width: 8%;
}

nav li a {
    font-size: 1.25rem;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

